RIMAndroid/Packages/com.bezi.sidekick/Editor.meta
RIMAndroid/Packages/com.bezi.sidekick/Editor/BeziSidekickInternal.dll
RIMAndroid/Packages/com.bezi.sidekick/Editor/BeziSidekickInternal.dll.meta
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources.meta
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources/Icons.meta
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources/Icons/Dark.meta
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources/Icons/Dark/bezi-connected.png
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources/Icons/Dark/bezi-connected.png.meta
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources/Icons/Dark/bezi-connecting.png
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources/Icons/Dark/bezi-connecting.png.meta
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources/Icons/Dark/bezi-disconnected.png
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources/Icons/Dark/bezi-disconnected.png.meta
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources/Icons/Dark/bezi-icon.png
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources/Icons/Dark/bezi-icon.png.meta
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources/Icons/Dark/bezi-paused.png
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources/Icons/Dark/bezi-paused.png.meta
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources/Icons/Light.meta
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources/Icons/Light/bezi-connected.png
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources/Icons/Light/bezi-connected.png.meta
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources/Icons/Light/bezi-connecting.png
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources/Icons/Light/bezi-connecting.png.meta
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources/Icons/Light/bezi-disconnected.png
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources/Icons/Light/bezi-disconnected.png.meta
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources/Icons/Light/bezi-icon.png
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources/Icons/Light/bezi-icon.png.meta
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources/Icons/Light/bezi-paused.png
RIMAndroid/Packages/com.bezi.sidekick/Editor/Resources/Icons/Light/bezi-paused.png.meta
RIMAndroid/Packages/com.bezi.sidekick/package.json
RIMAndroid/Packages/com.bezi.sidekick/package.json.meta
RIMAndroid/Packages/com.bezi.sidekick/Plugins.meta
RIMAndroid/Packages/com.bezi.sidekick/Plugins/bezi-websocket-sharp.dll
RIMAndroid/Packages/com.bezi.sidekick/Plugins/bezi-websocket-sharp.dll.meta
RIMAndroid/Packages/com.bezi.sidekick/Plugins/Microsoft.CodeAnalysis.CSharp.dll
RIMAndroid/Packages/com.bezi.sidekick/Plugins/Microsoft.CodeAnalysis.CSharp.dll.meta
RIMAndroid/Packages/com.bezi.sidekick/Plugins/Microsoft.CodeAnalysis.dll
RIMAndroid/Packages/com.bezi.sidekick/Plugins/Microsoft.CodeAnalysis.dll.meta
RIMAndroid/Packages/com.bezi.sidekick/Plugins/SharpToken.dll
RIMAndroid/Packages/com.bezi.sidekick/Plugins/SharpToken.dll.meta
RIMAndroid/Packages/com.bezi.sidekick/Plugins/System.Collections.Immutable.dll
RIMAndroid/Packages/com.bezi.sidekick/Plugins/System.Collections.Immutable.dll.meta
RIMAndroid/Packages/com.bezi.sidekick/Plugins/System.Reflection.Metadata.dll
RIMAndroid/Packages/com.bezi.sidekick/Plugins/System.Reflection.Metadata.dll.meta
RIMAndroid/Packages/com.bezi.sidekick/Plugins/System.Runtime.CompilerServices.Unsafe.dll
RIMAndroid/Packages/com.bezi.sidekick/Plugins/System.Runtime.CompilerServices.Unsafe.dll.meta
RIMAndroid/Packages/com.bezi.sidekick/README.md
RIMAndroid/Packages/com.bezi.sidekick/README.md.meta
RIMAndroid/.bezisidekick/.settings.json
/RIMAndroid/Library/Artifacts/64
RIMAndroid/Library/Artifacts/c4/c427e709cd9d76d48b9a0ef64a0b72a8
